#container {
    font-size: 25px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
}

#settings input {
    margin: 10px;
}

#container div{
    font-weight: bolder;
    height: 30px;
}

#container p {
    font-size: 15px;
}

button {
    width: 50px;
    height: 30px;
    margin: 15px;
}

#stop {
    margin: 20px auto;
}