html, body{
    font-size: 25px;
}

#container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;
    text-align: center;
}

#container div{
    /* margin: 5px 0; */
    font-weight: bolder;
    height: 30px;
}

#container p {
    font-size: 15px;
}

#button-box {
    display: flex;
    justify-content: center;
}

#container button {
    width: 50px;
    height: 30px;
    margin: 15px;
}