.sample {
    max-width: 1000px;
    margin: 100px auto 10px auto;
}

#but {
    display: block;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.row input {
    margin: 15px;
}

.row p{
    width: 250px;
    text-align: left;
}

p[id^='info']{
    color: red;
}

#message {
    max-width: 1000px;
    margin: 0 auto;
}

#message p {
    color: green;
    font-size: 15px;
    text-align: center;
}