$header-color: #55f;
$primary-color: #f00;

body {
    // background-image: url('../img/back.jpg');
    h1 {
        color: $header-color;
        text-align: center;
    }
    p {
        color: $primary-color;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}
