#container {
    margin: 50px auto 0 auto;
    width: 1000px;
    height: 600px;
    border: 1px black solid;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navbar {
    position: absolute;
    right: 10px;
    top: 10px;
}

.navbar li {
    display: block;
    float: left;
    margin: 15px;
}

.navbar li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

#but {
    display: block;
    margin: 20px auto;
}

h1 {
    text-align: center;
}
