h3 {
    font-size: 14px;
}

#counter {
    width: 500px;
    text-align: center;
}

span {
    display: inline;
}

#level {
    width: 400px;
    text-align: center;
}

#level-display {
    text-align: center;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button, #name {
    display: none;
}

.v-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.window-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.middle {
    display: flex;
    flex-direction: column;
}

.v-container h3 {
    text-align: center;
}

#save-your-score {
    display: none;
}

#scoreboard {
    width: 100%;
}

table, th {
    border: 1px solid black;
    text-align: center;
}

tr{
    border-bottom: 1px solid black;
    width: 100%;
}