#toolbox {
    background-color: lightgrey;
    height: 30px;
}

.menu-icon {
    float: right;
    margin: 5px;
    color: darkgrey;
    cursor: pointer;
}

#color-control {
    padding: 0;
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 1px;
    margin: 2px;
}

.menu-icon:hover {
    color: grey;
}

.active {
    color: black;
}