.App {
  font-family: 'Francois One', sans-serif;
}

.App-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-nav li {
  float: right;
  list-style-type: none;

}

.App-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
}
