.label-and-input-wrapper {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto;
    padding: 20px;
}

.label-and-input-wrapper input {
    height: 20px;
    border-radius: 7px;
    
}

.label-and-input-wrapper p {
    margin: 0;
    font-weight: lighter;
}