h3 {
    text-align: center;
}

#container {
    margin: 50px auto 0 auto;
    width: 1000px;
    height: 600px;
    border: 1px black solid;
    position: relative;
    cursor: url('../res/crosshair.png'), auto;	
}

#container img {
    width: 50px;
    display: block;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
